:root {

  
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Rubik', sans-serif !important;
}

/*signup form*/
.signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 700px;
  height: 600px;
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
  margin-left: 610px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 120px;
}

label {
  font-weight: 600;
}

button {
  background-color: #da291c;
  border: none;
  padding: 4px 2px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
  height: 35px;
  color: #ffffff;
}
/*loginform*/
.Login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 375px;
  height: 340px;
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
  margin-left: 610px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
  margin-right: 55px;
}

/*nav*/
.custom-nav {
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  gap: 1400px;
  width: 100%;
  list-style: none;
  position: relative;
  margin-top: 15px;
  background-color: #656665;
}

.link {
  display: flex;
  /* background-color: #da291c; */
  color: #ffffff;
  margin-right: 10px;
  text-decoration: none;
}

.ul-nav {
  display: flex;
  list-style: none;
}

/*gore logo*/
.width-50 {
  width: 20%;
}

/*project card component*/
@keyframes bg {
  0% {
    background-size: 0 3px,
                     3px 0,
                     0 3px,
                     3px 0; 
  }
  25% {
    background-size: 100% 3px,
                     3px 0,
                     0 3px,
                     3px 0;
  }
  50% {
    background-size: 100% 3px,
                     3px 100%,
                     0 3px,
                     3px 0;
  }
  75% {
    background-size: 100% 3px,
                     3px 100%,
                     100% 3px,
                     3px 0;
  }
  100% {
    background-size: 100% 3px,
                     3px 100%,
                     100% 3px,
                     3px 100%;
  }
}

.custom-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 400px;
  width: 35% !important;
  background-color: #fffdfd;
  
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 500px;
  box-sizing: border-box;

  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #c9c9c9 100%,
  #c9c9c9 100%),
                    linear-gradient(to bottom, #c9c9c9 100%,
  #c9c9c9 100%),
                    linear-gradient(to right, #c9c9c9 100%,
  #c9c9c9 100%),
                    linear-gradient(to bottom, #c9c9c9 100%,
  #c9c9c9 100%);
  background-size: 100% 3px,
                   3px 100%,
                   100% 3px,
                   3px 100%;
  background-position: 0 0,
                       100% 0,
                       0 100%;
  animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation-play-state: paused;
}

.custom-card:hover {
  animation-play-state: running;
}

.project-form {
  display: flex;
  flex-direction: column;
  border-style: hidden;
}

.top {
  display: flex;
}

.middle {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.bottom {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.description-field {
  width: 250px;
  height: 220px;
  padding: 5px 0 190px 0;
  white-space: pre-wrap;
  overflow-y: auto;
}

.description-container {
  display: flex;
}

.desc-label {
align-self: flex-start;
}

.status-field {
height: 30px;
}

label {
  margin-left: 5px;
  margin-right: 5px;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  
}
