:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 700px;
  height: 600px;
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
  margin-left: 610px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 120px;
}

label {
  font-weight: 600;
}

button {
  background-color: #62529c;
  border: none;
  padding: 4px 2px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
  height: 35px;
  color: #ffffff;
}

.Login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 375px;
  height: 340px;
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
  margin-left: 610px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
  margin-right: 55px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  
}
